.places {
    text-align: center;
}

.places h1 {
    font-size: 30px;
    text-align: left;
}

article {
    display: inline-block;
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F; 
    border-radius: 4px;
}

article h2 {
    font-size: 30px;
    text-align: center;
}

.price_by_night {
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    border-radius: 100%;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    position: relative;
    line-height: 60px;
    float: right;
    top: -80px;
}

.information {
    height: 80px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 12px;
}

.max_guest, .number_rooms, .number_bathrooms {
    display: inline-block;
    line-height: 140px;
    width: 100px;
    height: 100%;
    background-position: 50% 5px;
    background-repeat: no-repeat;
}

.max_guest {
    background-image: url("../images/icon_group.png");
}

.number_rooms {
    background-image: url("../images/icon_bed.png");
}

.number_bathrooms {
    background-image: url("../images/icon_bath.png");
}

.user, .description {
    text-align: left;
    margin-bottom: 5px;
}
